<div id="top" class="main js-page-container">
  <div class="page js-scroll-element">
    <div class="_fake-header js-in-page-fake-header" style="background-color: #FBBC05;">
      <div class="page-title-container -dark">
        <div class="c-max">
          <h1 class="_page-title js-sticky-header-fade" data-fade-out="true">Resources</h1>
        </div>
      </div>
    </div>
    <div class="js-animate-out">
      <div id="main" class="_main-wrapper" role="main" tabindex="-1">
        <div class="_fake-shadow js-in-page-fake-shadow" aria-hidden="true" style="opacity: 0; visibility: hidden;"></div>
        <div class="c-max">
          <h2 class="-off-screen">Slideshow of Featured Resources</h2>

          <!-- Carousel with items -->
          <div class="carousel js-carousel -resources">
            <div class="controls js-carousel-controls ">
              <button type="button" class="prev js-carousel-prev" aria-controls="carouselcarousel-resources_slideshow" aria-label="Previous Slide">
                <span class="-off-screen -hc" aria-hidden="true">Previous Slide</span>
                <svg focusable="false" class="svg-icon slide-back" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" fill-rule="evenodd">
                    <path d="M0 0h24v24H0z"/>
                    <path class="_fill-color" d="M20 11H7.8l5.6-5.6L12 4l-8 8 8 8 1.4-1.4L7.8 13H20v-2z" fill="#ffffff" opacity="1"/>
                  </g>
                </svg>
              </button>
              <button type="button" class="next js-carousel-next" aria-controls="carouselcarousel-resources_slideshow" aria-label="Next Slide">
                <span class="-off-screen -hc" aria-hidden="true">Next Slide</span>
                <svg focusable="false" class="svg-icon slide-forward" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" fill-rule="evenodd">
                    <path d="M0 0h24v24H0z"/>
                    <path class="_fill-color" d="M12 4l-1.4 1.4 5.6 5.6H4v2h12.2l-5.6 5.6L12 20l8-8-8-8z" fill="#ffffff" opacity="1"/>
                  </g>
                </svg>
              </button>
              <div class="carousel-pager js-carousel-pager">
                <button class="_dot js-carousel-pager-dots" data-index="0" aria-controls="carouselcarousel-resources_slideshow" aria-label="Change to slide 1">
                  <div class="_inner" data-index="0"></div>
                </button>
                <button class="_dot js-carousel-pager-dots" data-index="1" aria-controls="carouselcarousel-resources_slideshow" aria-label="Change to slide 2">
                  <div class="_inner" data-index="1"></div>
                </button>
                <button class="_dot js-carousel-pager-dots" data-index="2" aria-controls="carouselcarousel-resources_slideshow" aria-label="Change to slide 3">
                  <div class="_inner" data-index="2"></div>
                </button>
              </div>
            </div>
            <div id="carouselcarousel-resources_slideshow" class="items js-carousel-items" aria-live="assertive" aria-atomic="true" aria-relevant="all">
              <div id="slide-slide-icon-library-1" class="slide js-carousel-slide" data-contrast-modifier="-light" data-slug="icon-library">
                <div class="_bg fill-space" style="background-color: #414141"></div>
                <div class="_image js-responsive-image" data-src="//g-design.storage.googleapis.com/production/v5/assets/Tools_Icons_Header_Tile__414141-b2f170d6.svg" data-mobile-src="//g-design.storage.googleapis.com/production/v5/assets/tools_icons_mobile-d8588d5e.svg"></div>
                <div class="_lazy-placeholder -light"></div>
                <div class="_mobile-text">
                  <div class="_text -light">
                    <div class="_heading">
                      <h3 class="_title hidden-chars js-hide-eol-dot">Material Icons</h3>
                      <p class="_description">Visit our library of over 900 material system icons and learn more about our icon font.</p>
                      <a class="_link" href="#">Visit the Library</a>
                    </div>
                  </div>
                </div>
              </div>
              <div id="slide-slide-material-design-guidelines-2" class="slide js-carousel-slide" data-contrast-modifier="-dark" data-slug="material-design-guidelines">
                <div class="_bg fill-space" style="background-color: #b1deda"></div>
                <div class="_image js-responsive-image" data-src="//g-design.storage.googleapis.com/production/v5/assets/Tools_Material_Guidelines_Header__B1DEDA-9b3827f1.svg" data-mobile-src="//g-design.storage.googleapis.com/production/v5/assets/tools_material_mobile-34380206.svg"></div>
                <div class="_lazy-placeholder -dark"></div>
                <div class="_mobile-text">
                  <div class="_text -dark">
                    <div class="_heading">
                      <h3 class="_title hidden-chars js-hide-eol-dot">Material Design Guidelines</h3>
                      <p class="_description">The latest version of our visual design framework.</p>
                      <a class="_link" href="#">View the Guidelines</a>
                    </div>
                  </div>
                </div>
              </div>
              <div id="slide-slide-resizer-3" class="slide js-carousel-slide" data-contrast-modifier="-light" data-slug="resizer">
                <div class="_bg fill-space" style="background-color: #01579B"></div>
                <div class="_image js-responsive-image" data-src="//g-design.storage.googleapis.com/production/v5/assets/slide-resizer-icon.svg" data-mobile-src="//g-design.storage.googleapis.com/production/v5/assets/tool-resizer-icon.svg"></div>
                <div class="_lazy-placeholder -light"></div>
                <div class="_mobile-text">
                  <div class="_text -light">
                    <div class="_heading">
                      <h3 class="_title hidden-chars js-hide-eol-dot">Resizer</h3>
                      <p class="_description">An interactive viewer that helps designers test material design breakpoints across desktop, mobile, and tablet.</p>
                      <a class="_link" href="#">Launch Resizer</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Resources list -->
          <h2 class="-off-screen">List of Resources</h2>
          <div class="grouped-list-wrapper">
            <ul class="g-row grouped-list">
              <!-- Guide lines -->
              <li class="g-column g-2-2 m-1-1">
                <h5 class="grouped-list-title">Guidelines</h5>
              </li>

              <!-- Material design guideline -->
              <li class="g-column g-1-2 m-1-1">
                <a class="list-wrap -has-border -is-link" href="#" aria-labelledby="label-tool-list-item-material-design-guidelines" aria-describedby="description-tool-list-item-material-design-guidelines">
                  <div class="list-header">
                    <div class="_bubble" style="background-color: #b1deda;background-image: url(//g-design.storage.googleapis.com/production/v5/assets/Tools_Material_Guidelines_Header__B1DEDA-9b3827f1.svg);"></div>
                  </div>
                  <div class="list-detail">
                    <div class="_title-block">
                      <h3 id="label-tool-list-item-material-design-guidelines" class="_title">Material Design</h3>
                    </div>
                    <p id="description-tool-list-item-material-design-guidelines" class="_summary">The latest version of our visual design framework.</p>
                  </div>
                </a>
              </li>

              <!-- Android Auto guideline -->
              <li class="g-column g-1-2 m-1-1">
                <a class="list-wrap -has-border -is-link" href="#" aria-labelledby="label-tool-list-item-android-auto-design-guidelines" aria-describedby="description-tool-list-item-android-auto-design-guidelines">
                  <div class="list-header">
                    <div class="_bubble" style="background-color: #28b5f5;background-image: url(//g-design.storage.googleapis.com/production/v5/assets/Tools_Auto_Guidelines_Header_Tile__28B5F5-875c6523.svg);"></div>
                  </div>
                  <div class="list-detail">
                    <div class="_title-block">
                      <h3 id="label-tool-list-item-android-auto-design-guidelines" class="_title">Android Auto</h3>
                    </div>
                    <p id="description-tool-list-item-android-auto-design-guidelines" class="_summary">The new design guidelines for Android Auto.</p>
                  </div>
                </a>
              </li>

              <!-- Android TV guideline -->
              <li class="g-column g-1-2 m-1-1">
                <a class="list-wrap -has-border -is-link" href="#" aria-labelledby="label-tool-list-item-android-tv-design-guidelines" aria-describedby="description-tool-list-item-android-tv-design-guidelines">
                  <div class="list-header">
                    <div class="_bubble" style="background-color: #28b5f5;background-image: url(//g-design.storage.googleapis.com/production/v5/assets/Tools_TV_Guidelines_Header_Tile__28B5F5-1b9da6c9.svg);"></div>
                  </div>
                  <div class="list-detail">
                    <div class="_title-block">
                      <h3 id="label-tool-list-item-android-tv-design-guidelines" class="_title">Android TV</h3>
                    </div>
                    <p id="description-tool-list-item-android-tv-design-guidelines" class="_summary">Check out the latest Android TV guidelines for 10-foot UIs.</p>
                  </div>
                </a>
              </li>

              <!-- Cardboard guideline -->
              <li class="g-column g-1-2 m-1-1">
                <a class="list-wrap -has-border -is-link" href="#" aria-labelledby="label-tool-list-item-cardboard-design-guidelines" aria-describedby="description-tool-list-item-cardboard-design-guidelines">
                  <div class="list-header">
                    <div class="_bubble" style="background-color: #ededed;background-image: url(//g-design.storage.googleapis.com/production/v5/assets/Tools_Cardboard_Guidelines_Header_Tile__EDEDED-acdc94f8.svg);"></div>
                  </div>
                  <div class="list-detail">
                    <div class="_title-block">
                      <h3 id="label-tool-list-item-cardboard-design-guidelines" class="_title">Cardboard</h3>
                    </div>
                    <p id="description-tool-list-item-cardboard-design-guidelines" class="_summary">Best practices for VR created by the Google Cardboard team.</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
